#ContenedorForm {
    position: relative;
    left: 35%;
    top: 200px;
    box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    -webkit-box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    -moz-box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    width: 30%;
    padding-left: 20px;

}


.buttoniniciar{
    position: relative;
    left: 220px;
    bottom: 38px;
    width: 40%;
}

.buttoncrear{
    position: relative;
    left: 70px;
    width: 40%;
}


#TituloForm{
    position: relative;
    bottom: 60px;
    left: 110px;
    width: 47%;
}


