
.takenotes{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-gap: 10px;
    border-style: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px rgba(201,199,199,0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color:#808080;
    position: relative;
    bottom: 7em;
    right: 2em;
}


/* .takenotes2{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 15px;
    border-style: none;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(201,199,199,0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    position: relative;
    bottom: 7em;
    right: 2em;
    float: none;
    
} */


.form-group{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 15px;
    border-style: none;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(201,199,199,0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    position: relative;
    bottom: 7em;
    right: 2em;
    float: none;
    /* height: 200px; */
    
}



input:focus{
    outline: none;
}

input{
    border: none;
    
}

button:focus{
    outline: none;
}


#terminal{
    height: 40px;
    border: none;
    position: relative;
    right: 2px;
    width: 30px;
} 


#Menubutton{
    position: relative;
    right: 12em;
    top: 0.3em;
    background: none;
    border: none;
}

#cerrar{
    position: relative;
    left: auto;
    background: none;
    color: blue;
    border: none;
    outline: none;
}

.navbar{
    background-color: black;
}


#Buscar{
    
    position: relative;
    right: 3.4em;
    top: 2em;
    height: 2.6em;
    /* background: none; */
}

#Barra{
   position: relative;
   right: 25em;
   bottom: 10px;
   width: 40em;
   border-right: none;
   border-top-right-radius: none;
}

#User{
    position: relative;
    color: white;
}


.my-masonry-grid {
    display: -webkit-box; /*Not needed if autoprefixing*/
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: inline-flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    margin-left: 70px;
    margin-right: 40px;
    height: auto;
    
  }

  .my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  
  
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: rgb(255, 251, 251);
  margin-bottom: auto;
}


  .row {
    border-style: solid;
    border-width: thin;
    border-color: rgba(214, 214, 214, 0.8);
    border-radius: 8px;
    display: inline-block;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight:600;
    width: 300px;
    padding-left: 11px;
    padding-right:11px;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    position: relative;
    bottom: 4em;
    
    /* margin: 10px; */


  }



 #span1{
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight:700;
  font-size: 20px;
  color:hsl(0, 0%, 49%);
  
  word-break: break-all;
  height: 35px;
  line-height: 20px;
  

}

#span2{
  
    width:auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
   
  } 

.div1{
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight:700;
  font-size: 20px;
  color:hsl(0, 0%, 49%);
  
  word-break: break-all;
 
}

.div2{
  
  width:auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
 
} 



  /*De aqui para abajo es una prueba*/


  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1920px) {
    .my-masonry-grid {
      column-count: 40;
    }
    
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .my-masonry-grid {
      column-count: 4;

    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .my-masonry-grid {
      column-count: 3;
    }
  }

  .artigo_nome {
    /* border: 1px dotted blue; */
    max-width: 250px;
    padding: 10px;
    word-break: break-all; /* optional */
  
    
}



.artigo_nome1 {
  /* border: 1px dotted blue; */
  max-width: 250px;
  padding: 10px;
  /* word-wrap: break-word; */
  word-break: break-all;
  font-size: 18px;
  font-style: italic;
  color:hsl(0, 0%, 49%);
  
  
}

#Note{
 
  max-width: 250px;
  padding: 10px;
  /* word-wrap: break-word; */
  word-break: break-all;
  font-size: 18px;
  font-style: italic;
  color:hsl(0, 0%, 49%);
}

textarea {
  background:transparent;
  outline:none;
  /* border:none; */
  border-color: cadetblue;
  width:100%;
  font-size:40px;
  color:#fff;
  padding: 10px;
  font-style: italic;

}

textarea::-webkit-scrollbar{
  display: none;
  
}

textarea::-webkit-resizer{
  display: none;
}

#id{
  display: none;
}

.MenuButton{
  position: relative;
  left: 7.3em;
  outline:none;
  width: 5.8em;
  top: 2px;
    
    
} 

