#ContenedorRegis {
    position: relative;
    left: 32%;
    top: 200px;
    box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    -webkit-box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    -moz-box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    width: 35%;
    padding-left: 20px;
    height: 37em;

}

#TituloRegis{
    position: relative;
    bottom: 60px;
    left: 4.4em;
    width: 47%;
}


.buttonvolver{
    position: relative;
    left: 15em;
    width: 40%;
    left: 7em;
    /* bottom: 1.8em; */
}

.buttonguardar{
    position: relative;
    width: 40%;
    bottom: 2.7em;
    left: 17em;
}